<section class="s-recommended section__default">
  <div class="container">
    <h2 class="section__title text-left">{{ heading_title }}</h2>
    <div class="swiper swiper-base swiper-cards-gallery">
      <div class="swiper-wrapper">
        {% for product in products %}
          <div class="swiper-slide card__slide card">
            <div class="card__top">
              <div class="card__favorite" onclick="wishlist.add('{{ product.product_id }}');">
                <svg class="svg-sprite-icon icon-like-outline card__favorite-icon">
                  <use xlink:href="catalog/view/theme/happy/image/svg/sprite.svg#like-outline"></use>
                </svg>
              </div>
              <div class="swiper swiper-card-gallery">
                <div class="swiper-wrapper card__wrapper">
                  <a class="swiper-slide card__slide" href="{{ product.href }}">
                    <img src="{{ product.thumb }}" alt="{{ product.name }}">
                  </a>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
            <div class="card__body">
              <a class="card__descr" href="{{ product.href }}">{{ product.name }}</a>
              <div class="card__available success">В наличии на складе в Китае</div>
              {% if product.sku %}
                <div class="card__article">{{ text_sku }} {{ product.sku }}</div>
              {% endif %}
              {% if product.price %}
                <div class="card__price"> 
                  {% if not product.special %}
                    <div class="card__price-new">{{ product.price }}</div>
                  {% else %} 
                    <div class="card__price-new">{{ product.special }}</div> 
                    <div class="card__price-old">{{ product.price }}</div> 
                  {% endif %}
                </div>
              {% endif %}
              <button class="button button--small w-full mt-auto" type="button" onclick="cart.add('{{ product.product_id }}');">{{ button_cart }}</button>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-arrows">
        <div class="swiper-arrows__item swiper-arrows__next">
          <svg class="svg-sprite-icon  icon-arrow-left swiper-arrows__icon">
            <use xlink:href="catalog/view/theme/happy/image/svg/sprite.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-arrows__item swiper-arrows__prev">
          <svg class="svg-sprite-icon  icon-arrow-right swiper-arrows__icon">
            <use xlink:href="catalog/view/theme/happy/image/svg/sprite.svg#arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
