{{ header }}
<main id="product-category" class="content">
  <div class="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs__list">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          </li>
          {% if not loop.last %}
            <svg class="svg-sprite-icon icon-breadcrumbs-arrow breadcrumbs__icon">
              <use xlink:href="catalog/view/theme/happy/image/svg/sprite.svg#breadcrumbs-arrow"></use>
            </svg>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {{ content_top }}
  <div class="s-catalog">
    <div class="container">
      <div class="catalog__wrapper">
        {{ column_left }}
        <div id="content" class="{{ class }}">
          <h1 class="catalog__title">{{ heading_title }}</h1>
          {# {% if thumb or description %}
            <div class="row"> 
              {% if thumb %}
                <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
              {% endif %}
              {% if description %}
                <div class="col-sm-10">{{ description }}</div>
              {% endif %}
            </div>
          {% endif %} #}
          {% if categories %}
            {# <h3>{{ text_refine }}</h3> #}
            <div class="catalogCategory">
              {% if categories|length == 1 %}
                <ul class="catalogCategory__list">
                  {% for category in categories %}
                    <li><a href="{{ category.href }}"><span>{{ category.name }}</span></a></li>
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="catalogCategory__list">
                  {% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
                    {% for child in category %}
                      <li><a href="{{ child.href }}"><span>{{ child.name }}</span></a></li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
          {% if products %}
          <div class="catalogSelect">
            <div class="catalogSelect__item">
              <select id="input-sort" class="catalog__select" onchange="location = this.value;">
                {% for sorts in sorts %}
                  {% if sorts.value == '%s-%s'|format(sort, order) %}
                    <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                  {% else %}
                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="catalogSelect__item">
              <select id="input-limit" class="catalog__select" onchange="location = this.value;">
                {% for limits in limits %}
                  {% if limits.value == limit %}
                    <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                  {% else %}
                    <option value="{{ limits.href }}">{{ limits.text }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="catalogSelect__filter">
              <svg class="svg-sprite-icon icon-filter catalogSelect__filter-icon">
                <use xlink:href="catalog/view/theme/happy/image/svg/sprite.svg#filter"></use>
              </svg>
            </div>
          </div>
          <div class="catalog__inner"> 
            {% for product in products %}
              <div class="card">
                <div class="card__top">
                  <div class="card__favorite" onclick="wishlist.add('{{ product.product_id }}');">
                    <svg class="svg-sprite-icon icon-like-outline card__favorite-icon">
                      <use xlink:href="catalog/view/theme/happy/image/svg/sprite.svg#like-outline"></use>
                    </svg>
                  </div>
                  <div class="swiper swiper-card-gallery">
                    <div class="swiper-wrapper card__wrapper">
                      <a class="swiper-slide card__slide" href="{{ product.href }}">
                        <img src="{{ product.thumb }}" alt="{{ product.name }}">
                      </a>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                <div class="card__body">
                  <a class="card__descr" href="{{ product.href }}">{{ product.name }}</a>
                  <div class="card__available success">В наличии на складе в Китае</div>
                  {% if product.sku %}
                    <div class="card__article">{{ text_sku }} {{ product.sku }}</div>
                  {% endif %}
                  {% if product.price %}
                    <div class="card__price"> 
                      {% if not product.special %}
                        <div class="card__price-new">{{ product.price }}</div>
                      {% else %} 
                        <div class="card__price-new">{{ product.special }}</div> 
                        <div class="card__price-old">{{ product.price }}</div> 
                      {% endif %}
                    </div>
                  {% endif %}
                  <button class="button button--small w-full mt-auto" type="button" onclick="cart.add('{{ product.product_id }}');">{{ button_cart }}</button>
                </div>
              </div>
            {% endfor %} 
          </div>
          <div class="catalog__footer">
            <div class="catalog__footer-col">{{ pagination }}</div>
            <div class="catalog__footer-col">{{ results }}</div>
          </div>
          {% endif %}
          {% if not categories and not products %}
          <p>{{ text_empty }}</p>
          <div class="buttons">
            <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
          </div>
          {% endif %}
        </div>
    </div>
    </div>
  </div>
  {{ column_right }}
  {{ content_bottom }}
</main>
{{ footer }} 
