{{ header }}
<div id="common-home">
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    {{ column_right }}
  </div>
  <main id="content" class="content">
    {{ content_top }}
    {{ content_bottom }}
  </main>
</div>
{{ footer }}