{{ header }}
<main id="information-faq" class="content">
  <div class="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs__list">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          </li>
          {% if not loop.last %}
            <svg class="svg-sprite-icon icon-breadcrumbs-arrow breadcrumbs__icon">
              <use xlink:href="catalog/view/theme/happy/image/svg/sprite.svg#breadcrumbs-arrow"></use>
            </svg>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <section class="s-faq">
    <div class="container">
      {{ content_top }}
      {{ content_bottom }}
    </div>
  </section>
</main>
{{ footer }}