{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ language.button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ language.heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="text-center">
            <h1>{{ language.text_welcome }}</h1>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="errors">
                    {% if errors %}
                        {% for error in errors %}
                            <div class="alert alert-danger text-center">
                                <h4><i class="fa fa-exclamation-circle"></i> {{ error }}</h4>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if activate %}
                    <br/>
                    <div class="text-center">
                        <button id="btn-license" data-loading-text="{{ language.text_loading }}" class="btn btn-success">{{ language.button_license }}</button>
                    </div>
                {% endif %}
                <br/>
                {{ info_tab }}
            </div>
        </div>
    </div>
</div>
{{ footer }}
{% if activate %}
    <script type="text/javascript">
        $(document).on("click", "#btn-license", function(e) {
            e.preventDefault();

            var btn = $(this);
            $('#errors').html('');
            $.ajax({
                url: '{{ activate }}',
                type: 'post',
                data: '',
                beforeSend: function() {
                    btn.button('loading');
                },
                success: function (data) {
                    if(data.result) {
                        window.location.replace('{{ location }}');
                    } else if(data.errors) {
                        $.each(data.errors, function(key, error) {
                            $('#errors').append('<div class="alert alert-danger">' + error + '</div>');
                        });
                    }
                },
                error: function () {
                    $('#errors').html('<div class="alert alert-danger">{{ language.error_response }}</div>');
                },
                complete: function() {
                    btn.button('reset');
                }
            });
        });
    </script>
{% endif %}